---
import type { EnrichedTweet } from "../utils.js";
import s from "./tweet-in-reply-to.module.css";
interface Props {
  tweet: EnrichedTweet;
}
const { tweet } = Astro.props;
---

<a
  href={tweet.in_reply_to_url}
  class={s.root}
  target="_blank"
  rel="noopener noreferrer"
>
  Replying to @{tweet.in_reply_to_screen_name}
</a>
