---
import TweetContainer from "./TweetContainer.astro";
import styles from "./tweet-not-found.module.css";

interface Props {
  error?: any;
}
---

<TweetContainer>
  <div class={styles.root}>
    <h3>Tweet not found</h3>
    <p>The embedded tweet could not be found…</p>
  </div>
</TweetContainer>
