---
import Intercom from '@/assets/images/logos/Intercom.svg'
import X from '@/assets/images/logos/x.svg'
import SupabaseDark from '@/assets/images/logos/supabase-dark.svg'
import SupabaseLight from '@/assets/images/logos/supabase-light.svg'
import Whop from '@/assets/images/logos/whop.svg'
import Clerk from '@/assets/images/logos/clerk.svg'
import Dub from '@/assets/images/logos/dub.svg'
import Midday from '@/assets/images/logos/midday.svg'
---

<div class="animate-logo-wall flex items-center gap-10 pr-10">
	<Midday class="h-6" role="img" aria-label="Midday logo" />
	<Intercom class="h-6" role="img" aria-label="Intercom logo" />
	<X class="h-6" role="img" aria-label="Intercom logo" />
	<SupabaseLight role="img" class="h-6 grayscale-[1] dark:hidden" aria-label="Supabase logo" />
	<SupabaseDark role="img" class="hidden h-6 grayscale-[1] dark:block" aria-label="Supabase logo" />
	<Whop class="h-6" role="img" aria-label="Whop logo" />
	<Dub class="h-6" role="img" aria-label="Dub logo" />
	<Clerk class="h-6" role="img" aria-label="Clerk logo" />
</div>
