---
import Intercom from '@/assets/images/logos/intercom.svg'
import Linear from '@/assets/images/logos/linear.svg'
import X from '@/assets/images/logos/x.svg'
import SupabaseDark from '@/assets/images/logos/supabase-dark.svg'
import SupabaseLight from '@/assets/images/logos/supabase-light.svg'
import Whop from '@/assets/images/logos/whop.svg'
import Basedash from '@/assets/images/logos/basedash.svg'
import Layers from '@/assets/images/logos/layers.svg'
import Clerk from '@/assets/images/logos/clerk.svg'
import Resend from '@/assets/images/logos/resend.svg'
import Dub from '@/assets/images/logos/dub.svg'
import Midday from '@/assets/images/logos/midday.svg'
import OpenSea from '@/assets/images/logos/opensea.svg'
---

<div class="animate-logo-wall ~gap-12/14 ~pr-12/14 flex items-center">
	<Intercom class="h-6" role="img" aria-label="Intercom logo" />
	<X class="h-6" role="img" aria-label="Intercom logo" />
	<OpenSea class="h-6" role="img" aria-label="OpenSea logo" />
	<SupabaseLight role="img" class="h-6 grayscale-[1] dark:hidden" aria-label="Supabase logo" />
	<SupabaseDark role="img" class="hidden h-6 grayscale-[1] dark:block" aria-label="Supabase logo" />
	<Linear class="h-6" role="img" aria-label="Linear logo" />
	<Whop class="h-6" role="img" aria-label="Whop logo" />
	<Layers class="h-7" role="img" aria-label="Layers.to logo" />
	<Clerk class="h-6" role="img" aria-label="Clerk logo" />
	<Resend class="h-5" role="img" aria-label="Resend logo" />
	<Dub class="h-6" role="img" aria-label="Dub logo" />
	<Midday class="h-6" role="img" aria-label="Midday logo" />
	<Basedash class="h-6" role="img" aria-label="Basedash logo" />
</div>
