<span
	class="text-muted *:*:text-primary whitespace-nowrap text-center text-[.75em] leading-none *:*:absolute *:relative *:*:bottom-full *:*:left-0 *:inline-block *:*:w-full *:w-[1.5ch] *:*:text-[.75em] *:*:font-medium *:*:normal-nums *:*:tracking-tighter"
	><span>4<span>1</span></span><span>2<span>0</span></span>.<span>1<span>-1</span></span><span
		>5<span>-2</span></span
	></span
>
