---
import DocsLayout from '@/layouts/Docs.astro'
import type { MDXLayoutProps } from 'astro'
import Hero from './_Hero'
import Link from '@/components/Link.astro'

type Props = MDXLayoutProps<{
	title: string
	description: string
}>

const { frontmatter, headings } = Astro.props
---

<DocsLayout
	title={frontmatter.title}
	description={frontmatter.description}
	articleClass="[&>section:first-child>h2:first-child]:sr-only"
	{headings}
>
	<Hero client:load slot="hero" />
	<slot />
	<footer
		slot="footer"
		class="prose prose-muted dark:prose-invert border-faint mt-20 border-t pt-20"
	>
		<p>
			Built by <Link href="https://x.com/mbarvian">Max Barvian</Link>. Heavily inspired by the
			<Link href="https://family.co">Family</Link> iOS app. <Link
				href="https://expensive.toys/blog/blur-vignette"><code>mask-image</code> technique</Link
			> by <Link href="https://x.com/artur_bien">Artur Bień</Link>. <Link
				href="https://buildui.com/recipes/animated-counter">Digit looping technique</Link
			> by <Link href="https://x.com/samselikoff">Sam Selikoff</Link>.
		</p>
	</footer>
</DocsLayout>
