---
import '@/assets/main.css'
import Layout from '@/layouts/Layout.astro'
import type { MDXLayoutProps } from 'astro'
import Hero from './_Hero'
import TOC from '@/components/TOC.astro'
import { getFramework, FRAMEWORKS } from '@/lib/framework'

const frameworkId = getFramework(Astro.params)
const framework = frameworkId && FRAMEWORKS[frameworkId]

type Props = MDXLayoutProps<{
	title: string
	description: string
}>

const { frontmatter, headings } = Astro.props
---

<Layout title={frontmatter.title} description={frontmatter.description}>
	<Hero
		client:load
		title={`NumberFlow${frameworkId === 'vanilla' ? '' : ' for'} ${framework!.name}`}
	/>
	<div
		class="contents xl:container xl:grid xl:max-w-7xl xl:grid-cols-[1fr_auto_1fr] xl:items-start"
	>
		<TOC class="sticky top-8 max-xl:hidden" {headings} />
		<article
			class="prose prose-zinc dark:prose-invert-zinc prose-hr:my-[2em] prose-headings:font-semibold prose-h2:text-xl prose-h2:~mt-12/16 prose-h3:text-lg prose-code:before:content-none prose-code:after:content-none container max-w-2xl leading-[1.7] [&>section:first-child>h2:first-child]:sr-only"
		>
			<slot />
		</article>
	</div>
</Layout>
