---
import Layout from '@/layouts/Layout.astro'
import Tweet from '@/components/Tweet.astro'
import LogoWall from '@/components/LogoWall/LogoWall.astro'
import Link from '@/components/Link.astro'
---

<Layout title="NumberFlow Showcase" description="Real-life uses of NumberFlow from across the web.">
	<header class="~mb-10/20 ~mt-4/6 container max-w-2xl text-center">
		<h1 class="~text-3xl/5xl font-semibold tracking-tight">Showcase</h1>
		<div class="~text-base/lg ~mt-4/6 prose prose-muted dark:prose-invert text-pretty">
			<p>
				I'd love to see how you're using NumberFlow. Tag
				<Link href="https://x.com/mbarvian" target="_blank">@mbarvian</Link>
				in a post on 𝕏 and I might include it here. Note: NumberFlow was previously called MotionNumber.
			</p>
		</div>
		<LogoWall class="~mt-10/20" />
	</header>
	<!-- <div class="lg:max-w-9xl container max-w-2xl gap-8 *:mb-8 lg:columns-2 2xl:columns-3"> -->
	<div class="~space-y-6/8 container max-w-2xl">
		<Tweet id="1861891285000577303" autoplay />
		<Tweet id="1900480380097933349" />
		<Tweet id="1860956737974804866" />
		<Tweet id="1861923025131888901" />
		<Tweet id="1837159796564447380" />
		<Tweet id="1862193333550162190" />
		<Tweet id="1856379776849907797" />
		<Tweet id="1827742960672489594" />
		<!-- <Tweet id="1850571081977090151" /> -->
	</div>
</Layout>
