---
import Layout from '@/layouts/Layout.astro'
import type { MDXLayoutProps } from 'astro'
import TOC from '@/components/TOC.astro'
import type { ComponentProps } from 'astro/types'

type Props = ComponentProps<typeof Layout> & {
	articleClass?: string
	headings: MDXLayoutProps<{}>['headings']
}

const { headings, articleClass, ...props } = Astro.props
---

<Layout {...props}>
	<slot name="hero" />
	<div
		class="contents xl:container xl:grid xl:max-w-7xl xl:grid-cols-[1fr_auto_1fr] xl:items-start"
	>
		<TOC class="~top-6/10 sticky max-xl:hidden" {headings} />
		<article
			class:list={[
				'prose prose-zinc dark:prose-invert-zinc prose-headings:font-semibold prose-h2:text-xl prose-h2:~mt-12/16 prose-h3:text-lg container max-w-2xl',
				articleClass
			]}
		>
			<slot />
		</article>
	</div>
</Layout>
