@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.container {
		@apply ~px-6/10 mx-auto w-full;
	}

	.link-underline {
		@apply ease-out-quad decoration-current/50 text-current underline decoration-[1px] underline-offset-[0.3em] transition-[color,text-decoration-color] hover:text-zinc-50 hover:decoration-current;
	}
}

@layer utilities {
	.text-primary {
		@apply text-zinc-950 dark:text-zinc-50;
	}

	.text-muted {
		@apply text-zinc-500 dark:text-zinc-400;
	}

	.scrollbar-none {
		-ms-overflow-style: none; /* IE */
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
