@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.container {
		@apply ~px-6/10 mx-auto w-full;
	}

	.link-underline {
		@apply ease-out-quad decoration-current/50 text-current underline decoration-[1px] underline-offset-[0.3em] transition-[color,text-decoration-color] hover:text-zinc-50 hover:decoration-current;
	}

	.btn {
		@apply inline-flex h-11 items-center gap-2 whitespace-nowrap rounded-full px-5 text-sm font-medium text-zinc-50 transition duration-[.16s] ease-[cubic-bezier(.4,0,.2,1)] hover:brightness-125 active:scale-[98%] active:brightness-[98%] active:duration-[25ms];
	}

	.btn-primary {
		@apply bg-zinc-900;
	}

	.btn-secondary {
		@apply hover:bg-zinc-900;
	}
}

@layer utilities {
	.text-primary {
		@apply text-zinc-950 dark:text-zinc-50;
	}

	.text-muted {
		@apply text-zinc-500 dark:text-zinc-400;
	}

	.scrollbar-none {
		-ms-overflow-style: none; /* IE */
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
