<div
	role="alert"
	class:list={[
		'text-primary border-faint relative rounded-lg border px-4 py-3 text-sm' /*, 'border-amber-200 bg-amber-50  dark:border-yellow-950 dark:bg-yellow-950/50'*/
	]}
>
	<slot />
</div>
