.code {
	/* Make sure there's space to scroll around it: */
	max-height: min(100vh - 14rem, 40rem);
	overflow-x: auto;
	white-space: normal;
	tab-size: 2;

	@apply dark:border-faint rounded-lg !bg-zinc-950 !p-5 !text-sm [scrollbar-color:theme(colors.white/.3)_transparent] [scrollbar-width:thin] dark:border dark:!bg-zinc-900 dark:[scrollbar-color:theme(colors.white/.1)_transparent];
}

.code :global(.line) {
	display: block;
	white-space: pre;
}

.code :global(.line:empty):before {
	content: ' ';
}

.code :global(.line:last-of-type:empty) {
	display: none;
}

.code :global(span[style*='font-weight']) {
	font-weight: normal !important;
}
