---
import AstroTweet from 'astro-tweet'
import type { ComponentProps } from 'astro/types'
export type Props = ComponentProps<typeof AstroTweet>
---

<div class:list={['Tweet']}>
	<AstroTweet {...Astro.props} />
</div>

<style is:global>
	.Tweet .astro-tweet-theme {
		--tweet-bg-color-hover: var(--tweet-bg-color);
		--tweet-font-family: inherit;
		--tweet-body-font-size: 1rem;
		--tweet-container-margin: 0;
		--tweet-font-color-secondary: theme(colors.zinc.500);
		max-width: none;

		@apply dark:[--tweet-bg-color:theme(colors.zinc.900)] dark:[--tweet-border:1px_solid_theme(colors.zinc.800)] dark:[--tweet-font-color-secondary:theme(colors.zinc.400)];
	}
	.Tweet [class*='authorFollow'],
	.Tweet [class*='replies'],
	.Tweet [class*='reply'],
	.Tweet [class*='info'] {
		display: none !important;
	}

	.Tweet [class*='actions'] {
		border-top: none;
	}
	.Tweet [class*='rounded'] {
		border: none;
		position: relative;
	}

	.Tweet [class*='rounded']::after {
		content: '';
		inset: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		border-radius: inherit;
		pointer-events: none;
		box-shadow: inset 0 0 0 1px theme(colors.white/25%);
	}
	.Tweet p {
		white-space: pre-line !important;
	}
</style>
