@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		@apply bg-gray-950 text-[#f7f8f8] antialiased;
	}

	[data-motion-number-value=','] + [data-motion-number-value='1'] {
		margin-left: -0.05em;
	}
	[data-motion-number-value='.'] + [data-motion-number-value='1'] {
		margin-left: -0.05em;
	}

	/* [data-motion-number-digit] {
		color: red;
	} */
}
