@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		@apply bg-gray-950 text-[#f7f8f8] antialiased;
		--digit-line-height: 1.125;
	}

	span {
		will-change: transform !important;
		/* color: transparent !important; */
	}

	[data-motion-number-group=',']:not([hidden]) + [data-motion-number-digit='1'] {
		margin-left: -0.025em;
	}
	[data-motion-number-decimal='.']:not([hidden]) + [data-motion-number-digit='1'] {
		margin-left: -0.05em;
	}

	/* [data-motion-number-digit] {
		color: red;
	} */
}
